# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DATS2300\Ukesoppgave1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
